name: Test building using CMake

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  BUILD_TYPE: Debug

jobs:
  build_linux:
    runs-on: ubuntu-latest

    steps:
    - name: Install SDL2
      run: sudo apt update && sudo apt install -y libsdl2-dev libsdl2-mixer-dev

    - uses: actions/checkout@v4

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
      
  build_windows_x86:
    runs-on: windows-latest

    steps:
    - name: Cache vcpkg packages
      uses: actions/cache@v4
      env:
        cache-name: vcpkg-packages
      with:
        path: |
         C:/vcpkg/archives
         C:/vcpkg/packages
         C:/vcpkg/installed
        key: ${{ runner.os }}-${{ env.cache-name }}-v1

    - name: Install SDL2 (+ SDL2_mixer)
      run: vcpkg install sdl2:x86-windows sdl2-mixer:x86-windows

    - uses: actions/checkout@v4

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake -A win32

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
